/* Reset CSS */

@import url('./reset.css');

/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

/* Global Styles */

body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1px;
  position: relative;
  min-height: 100vh;
}

.container {
  /* width: 100%; */
  width: 90%;
  max-width: 950px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Animations */

@keyframes rotate {
  0% {
    transform: none;
  }
  100% {
    transform: rotate(720deg);
  }
}

/* Header Styles */

.header {
  padding-top: 15px;
  width: 100vw;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.header-logo-img {
  width: 70px;
  animation: rotate 10s ease-in-out infinite;
}

.header-logo-title {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 15px;
}
.header-topnav a {
  border: none;
  font-weight: 600;
  background: inherit;
  font-size: 8px;
  text-transform: uppercase;
  background: orangered;
  border: 1px solid orangered;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  transition: 0.4s;
  text-decoration: none;
  padding: 8px 10px;
}

.header-topnav a:hover {
  background: inherit;
  color: orangered;
  transition: 0.4s;
}

/* header-burger */
.header-burger {
  display: none;
}

@media screen and (max-width: 920px) {
  .header-burger {
    width: 20px;
    height: 14px;
    display: block;
    position: relative;
    border: none;
    background: none;
    z-index: 100;
  }
  .header-burger span {
    position: absolute;
    top: 6px;
    background: #363636;
    height: 2px;
    width: 100%;
    left: 0;
    transition: all 0.3s ease-out
  }
  .header-burger::before,
  .header-burger::after {
    position: absolute;
    width: 100%;
    height: 2px;
    content: '';
    background: #363636;
    left: 0;
    transition: all 0.3s ease-out
  }
  .header-burger::after {
    bottom: 0;
  }
  .header-burger::before {
    top: 0;
  }
  .header-menu-wrapper {
    display: none;
  }
  .header-burger.active span {
    display: none;
    transition: all 0.3s ease-out
  }
  .header-burger.active::after {
    transform: rotate(45deg);
    top: 6px;
    transition: all 0.3s ease-out
  }
  .header-burger.active::before {
    transform: rotate(-45deg);
    top: 6px;
    transition: all 0.3s ease-out;
  }
  .header-menu-wrapper.active {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }
  .header-menu-wrapper.active .header-menu {
    top: 25%;
    left: 75%;
    transform: translate(-50%,-50%);
    width: 200px;
    /* height: 250px; */
    height: 200px;
    display: block;
    position: absolute;
    /* background: #f9f9fa; */
    background: orangered;
    box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
      0px 1px 5px rgba(191, 196, 201, 0.24);
    border-radius: 10px;
    right: 40px;
    padding: 10px;
    border-radius: 10px;
  }
  .header-menu-wrapper.active::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(100px);
  }
  .header-topnav {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-topnav a {
    /* max-width: 100px; */
    width: 200px;
    border-radius: 0;
    border: 0;
    margin-bottom: 10px;
    text-align: center;
    display: inline-block;
    transition: all 0.3s ease-out
  }
  .header-topnav a:hover{
    color: orangered;
    background-color: #fff;
    transition: all 0.3s ease-out
  }
}

/* sidebar style */
.sidebar{
  background-color: #ddd;
  float: left;
  width: 150px;
}

/* main style */
.main{
  background-color: #eee;
  margin-left: 170px; /* 150px (ширина сайдбара) + 10px + 10px (2 отступа) */
  padding: 10px 0 0 10px;
  &-title {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  &-text {
    font-size: 14px;
  }
}

/* footer style */
.footer{
  background-color: #ccc;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 20px 0;
}