@charset "UTF-8";
/* Reset CSS */
@import url('./reset.css');
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
/* Global Styles */
body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1px;
  position: relative;
  min-height: 100vh;
  background: url(../images/background/bg9.jpg) no-repeat fixed;
  background-size: 100% 100%;
}

.container {
  /* width: 100%; */
  z-index: 10;
  width: 90%;
  max-width: 950px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Animations */
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: none;
    transform: none;
  }
  100% {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: none;
    transform: none;
  }
  100% {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}
/* Header Styles */
.header {
  /* padding-top: 15px; */
  width: 100%;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.header-logo-img {
  width: 70px;
  -webkit-animation: rotate 10s ease-in-out infinite;
  animation: rotate 10s ease-in-out infinite;
}

.header-logo-title {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  text-decoration: none;
  color: rgb(26, 65, 94);
}

.header-logo-title-link {
  text-decoration: none;
  color: rgb(26, 65, 94);
}

.header-topnav a {
  border: none;
  font-weight: 600;
  background: inherit;
  font-size: 8px;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid rgb(26, 65, 94);
  border-radius: 10px;
  cursor: pointer;
  color: rgb(26, 65, 94);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-decoration: none;
  padding: 8px 10px;
}

.header-topnav a:hover {
  background: inherit;
  color: rgb(255, 255, 255);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* header-burger */
.header-burger {
  display: none;
}

@media screen and (max-width: 920px) {
  .header-burger {
    width: 20px;
    height: 14px;
    display: block;
    position: relative;
    border: none;
    background: none;
    z-index: 100;
  }
  .header-burger span {
    position: absolute;
    top: 6px;
    background: #363636;
    height: 2px;
    width: 100%;
    left: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .header-burger::before,
  .header-burger::after {
    position: absolute;
    width: 100%;
    height: 2px;
    content: '';
    background: #363636;
    left: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .header-burger::after {
    bottom: 0;
  }
  .header-burger::before {
    top: 0;
  }
  .header-menu-wrapper {
    display: none;
  }
  .header-burger.active span {
    display: none;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .header-burger.active::after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 6px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .header-burger.active::before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 6px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .header-menu-wrapper.active {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }
  .header-menu-wrapper.active .header-menu {
    z-index: 99;
    top: 100px;
    left: 70%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 200px;
    /* height: 200px; */
    display: block;
    position: absolute;
    background: rgba(255, 95, 71, 0.792);
    -webkit-box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.555),
      0px 3px 4px rgba(255, 255, 255, 0.541), 0px 1px 5px rgba(255, 255, 255, 0.486);
    box-shadow: 0px 2px 4px rgba(253, 253, 253, 0.425), 0px 3px 4px rgba(255, 255, 255, 0.486),
      0px 1px 5px rgba(252, 252, 252, 0.466);
    border-radius: 10px;
    right: 40px;
    padding: 10px;
    border-radius: 10px;
  }
  .header-menu-wrapper.active::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-filter: blur(100px);
    filter: blur(100px);
  }
  .header-topnav {
    /* padding-top: 50px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .header-topnav a {
    width: 200px;
    border-radius: 0;
    border: 0;
    text-align: center;
    display: inline-block;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .header-topnav a:hover {
    color: rgb(255, 95, 71);
    background-color: #fff;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
}

/* main style */
.main {
  background-color: rgba(255, 95, 71, 0.537);
  padding: 30px 15px;
}
.main-title {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 20px;
}
.main-text {
  font-size: 14px;
}

/* news */
.news-main {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px;
  border-color: orangered;
  border-radius: 10px;
  padding: 30px 15px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.news-text {
  font-size: 14px;
  padding: 30px 15px;
  color: rgb(26, 65, 94);
}

.news-title {
  font-size: 17px;
  text-align: center;
  color: rgb(26, 65, 94);
}

.news-image {
  width: 60%;
  height: 60%;
  object-fit: cover;
}

.calendar-container{
  width: 90%;
  height: 1000;
  display: flex;
  flex-direction: column;
  margin:0 auto;
}

.cal{
  width: 90%;
  height: 1000; 
  display: flex;
  margin:0 auto;
}


/* footer style */
.footer {
  background-color: #ccc;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 20px 0;
}

/* Athletes */
.athletes {
  margin-top: 50px;
}
.athletes-container {
  display: flex;
  flex-direction: column;
}

.athletes-item {
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid orangered;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.athletes-image {
  width: 200px;
  height: 200px;
  object-fit: scale-down;
  /* border-radius: 100px; */
  transition: 1s all ease-in-out;
}

.athletes-info-text {
  margin-bottom: 10px;
  color: rgb(26, 65, 94);
}

.athletes-info-text:last-child {
  margin-bottom: 0;
}

.athletes-link {
  text-decoration: none;
  color: orangered;
  font-weight: bold;
}

/* DOCS */

.docs-item {
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid orangered;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 30px;
}
.docs-img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  /* border-radius: 100px; */
  transition: 1s all ease-in-out;
}

.docs-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.docs-info {
  max-width: 300px;
}

.docs-item:last-child {
  margin-right: 0;
}


/*fullscreen video*/
.full-screen {
  position: relative;
  z-index: 3;
  display: flex;
  margin: 0 auto;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.full-screen__body {
  padding: 50px 15px;
  position: absolute;
  top: 40%;
  z-index: 2;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
}
.full-screen__title {
  font-size: 50px;
  z-index: 8;
  color: rgb(255, 173, 161);
  letter-spacing: 25px;
  font-weight: 700;
  margin: 0px 0px 20px 0px;
}
.full-screen__text {
  font-size: 18px;
  color: rgb(255, 173, 161);
  letter-spacing: 15px;
}
.full-screen__video {
  position: static;
  z-index: 1;
  border: 1px solid rgb(26, 65, 94);
  border-radius: 10px;
  /* width: 93%;
  margin: 0 auto; */
  object-fit: cover;
}
.content {
  /* background-color: rgb(255, 95, 71); */
  position: relative;
  z-index: 7;
}
.content__container {
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid rgb(26, 65, 94);
  border-radius: 10px;
  /* width: 90%;
  margin: 0 auto; */
  padding: 30px 15px;
  font-size: 18px;
  color: rgb(26, 65, 94);
  line-height: 150%;
}
.content__container p {
  margin: 0px 0px 20px 0px;
}
.wrapper {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.mask {
  width: 100%;
  height: 100%;
  background: rgb(255, 95, 71);
  position: fixed;
  top: 0;
  z-index: 100;
  transition: 0.6s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 75px;
  height: 75px;
  border: 10px solid rgba(255, 95, 71, 0.537);
  border-radius: 50%;
  border-left-color: #fff;
  animation: loader 1.3s linear infinite;
}

@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}

.hide {
  opacity: 0;
}
.timer {
  color: rgb(26, 65, 94);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timer__items {
  display: flex;
  justify-content: center;
  font-size: 48px;
}

.timer__item {
  position: relative;
  min-width: 60px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 15px;
  text-align: center;
}

.timer__item::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 14px;
}

.timer__item:not(:last-child)::after {
  content: ':';
  position: absolute;
  right: -15px;
}

.slider {
  width: 70%;
  height: 550px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.slider-img {
  width: 100%;
  display:flex;
  margin:0 auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease;
}
.slider-item {
  opacity: 0;
}
.slider-item.active {
  opacity: 1;
}

.slider img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.slider .prev {
  left: 10px;
}

.slider .next {
  right: 10px;
}
